[Bot]
token=token

[Chat]
timeout=0

[Spreadsheet]
auth_id=id
auth_token=sources/tokens/auth_token.json

works_id=id
works_token=sources/tokens/works_token.json

tests_id=id
tests_token=sources/tokens/tests_token.json
